body {
  font-family: "Roboto";
  text-align: center;
  margin: 0;
  background-color: #ffffff; /* 배경색 지정 */
}

#total-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#logo {
  max-width: 37px;
  height: auto;
  margin-right: 0.8rem;
  border-radius: 30px;
}

#title {
  font-size: 1.125rem;
  font-weight: normal;
  color: #333; /* 제목 색상 지정 */
}

#settings-button {
  max-width: 30px;
  height: auto;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 0.8rem;
}

#dictionary-container {
  background-color: #efefef;
  border-radius: 30px;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#search-container {
  border-radius: 30px; /* 둥근 테두리 추가 */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  width: 14rem;
  height: 2.75rem;
}

#search-input {
  width: 9rem;
  padding: 10px;
  font-size: 16px;
  border: 0;
  background-color: transparent;
  display: flex;
  text-align: center;
}

#search-button {
  border: 0;
  background-color: #fff;
  display: flex-end;
  margin-right: 0.5rem;
}

#search-button img {
  width: 20px; /* 이미지 크기 조절 */
  height: auto;
}

#results-container {
  margin: 1.5rem;
  margin-bottom: -0.5rem;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 30px;
  width: 100%;
}

ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  text-align: left;
}

#results-list {
  list-style-type: disc;
  display: flex;
  text-align: left;
  margin-right: 1rem;
}
