<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search 영어사운드매치 for Chrome</title>
    <link rel="stylesheet" href="popup_styles.css" />
  </head>
  <body>
    <div id="total-container">
      <div id="logo-container">
        <img
          id="logo"
          src="../templates/images/logo.jpg"
          alt="영어사운드매치 로고"
        />
        <h1 id="title">Search <b>영어사운드매치</b> for Chrome</h1>
        <img
          id="settings-button"
          src="../templates/images/setting_icon.jpg"
          alt="설정 버튼"
          onclick="goToSettings()"
        />
      </div>

      <div id="dictionary-container">
        <div id="search-container">
          <div id="search-input">
            <input type="text" id="search-input" value="울랄라세션들이지롱" />
          </div>
          <div id="search-button">
            <button id="search-button" onclick="search()">
              <img src="../templates/images/search_icon.png" alt="검색 버튼" />
            </button>
          </div>
        </div>

        <div class="results-container"></div>
      </div>
    </div>
    <script>
      const container = document.getElementsByClassName("results-container")[0];

      const trigger_option = localStorage.getItem("trigger_option");
      const setting_option = localStorage.getItem("setting_option");

      const showingLists = (words, type) => {
        const res = words[0];
        const ul = document.createElement("ul");

        key_list = Object.keys(res);
        for (idx in key_list) {
          const li = document.createElement("li");

          key = key_list[idx];
          pronounciation = res[key][0];
          definition = res[key][1];

          if (type === "no_pron") {
            li_text = key + " " + `(${pronounciation})` + " : " + definition;
          } else {
            li_text = key + " : " + definition;
          }
          console.log(li_text);
          li.innerHTML = li_text;
          ul.appendChild(li);
        }
        ul.className = "results-list";
        container.appendChild(ul);
      };

      if (trigger_option === "passive") {
        const basic_text = document.createElement("p");
        basic_text.innerHTML =
          "영어사운드매치를 사용하려면 검색 버튼을 클릭하세요.";
        container.append(basic_text);
        // 검색 트래킹 x
        // 값을 가져올 때 setting_option 확인
        // const 가져온값 = await fetch('url')
        // const jsonData = await response.json();
        // console.log(jsonData);
        // if (setting_option === 'yes_pron')
      } else {
        console.log("자동");
        // content 검색 트래킹
        // background.js에 요청
        // background.js에서 end point에 fetch
        // const 가져온값 = await fetch('url')
        // const jsonData = await response.json();

        if (setting_option === "yes_pron") {
          const response = [
            {
              Exception: ["익샙션", "예외, 예외 사항"],
              Acceptance: ["어크셉턴스", "수락, 승인"],
              Reception: ["리셉션", "접수, 환영"],
              Deception: ["디셉션", "속임수, 기만"],
              Perception: ["퍼셉션", "인식, 지각"],
              Adoption: ["어덥션", "채택, 입양"],
              Inception: ["인셉션", "시작, 개시"],
              Receptionist: ["리셉션니스트", "접수원, 리셉션 직원"],
              Exceptional: ["익셉셔널", "예외적인, 특별한"],
              Deceptive: ["디셉티브", "속이는, 기만적인"],
            },
          ];
          showingLists(response, setting_option);
        } else {
          // '(발음)' 삭제
          const response = [
            {
              Exception: ["익샙션", "예외, 예외 사항"],
              Acceptance: ["어크셉턴스", "수락, 승인"],
              Reception: ["리셉션", "접수, 환영"],
              Deception: ["디셉션", "속임수, 기만"],
              Perception: ["퍼셉션", "인식, 지각"],
              Adoption: ["어덥션", "채택, 입양"],
              Inception: ["인셉션", "시작, 개시"],
              Receptionist: ["리셉션니스트", "접수원, 리셉션 직원"],
              Exceptional: ["익셉셔널", "예외적인, 특별한"],
              Deceptive: ["디셉티브", "속이는, 기만적인"],
            },
          ];

          showingLists(response, setting_option);
        }
        // 가져온 값을 로컬 스토리지 setting_option값에 따라 가공
        // popup.html에서 html태그로 생성
      }

      function goToSettings() {
        // 설정 버튼을 클릭하면 이동할 링크를 지정
        window.location.href = "setting.html";
      }

      function search() {
        // 검색 버튼을 클릭하면 검색 기능을 수행하는 코드를 작성.
        // 이 부분은 실제로 백엔드와 연동하여 검색을 수행하는 코드로 대체.
        console.log("검색 기능 수행");
      }
    </script>
  </body>
</html>
