<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Settings</title>
    <link rel="stylesheet" href="setting_styles.css" />
  </head>
  <body>
    <div class="settings-container">
      <div id="title-container">
        <img
          id="logo"
          src="../templates/images/logo.jpg"
          alt="영어사운드매치 로고"
        />
        <h1 class="title">Search <b>영어사운드매치</b> for Chrome</h1>
      </div>
      <div class="option-group">
        <div id="trigger-mode">
          <img
            id="trigger"
            src="../templates/images/trigger_icon.png"
            alt="트리거 모드 이미지"
          />
          <h2 class="group-title">트리거 모드</h2>
        </div>

        <div class="option">
          <input type="radio" id="option1_a" name="search_scope" checked />
          <label for="option1_a"><b>수동</b></label>
          <p class="note">검색 버튼 클릭 시에만 작동합니다.</p>
        </div>
        <div class="option">
          <input type="radio" id="option1_b" name="search_scope" />
          <label for="option1_b"><b>자동</b></label>
          <p class="note">서치엔진에 검색 시 자동으로 작동합니다.</p>
        </div>
      </div>
      <div class="option-group">
        <div id="setting-mode">
          <img
            id="setting"
            src="../templates/images/setting_setting_icon.png"
            alt="내부 설정 모드 이미지"
          />
          <h2 class="group-title">설정</h2>
        </div>

        <div class="option">
          <input type="radio" id="option2_a" name="search_mode" checked />
          <label for="option2_a"><b>단어/발음 + 뜻</b></label>
          <p class="note">단어와 한국어 발음 및 뜻을 모두 보여줍니다.</p>
          <p class="example">예: Augment (어그먼트) - 논쟁, 주장</p>
        </div>
        <div class="option">
          <input type="radio" id="option2_b" name="search_mode" />
          <label for="option2_b"><b>단어 + 뜻</b></label>
          <p class="note">단어와 뜻만 보여줍니다.</p>
          <p class="example">예: Augment - 논쟁, 주장</p>
        </div>
      </div>
      <button id="save-button">저장</button>
    </div>
    <script>
      function onClick(e) {
        if (option1_a.checked === true) {
          localStorage.setItem("trigger_option", "passive");
        } else {
          localStorage.setItem("trigger_option", "active");
        }
        if (option2_a.checked === true) {
          localStorage.setItem("setting_option", "yes_pron");
        } else {
          localStorage.setItem("setting_option", "no_pron");
        }
        window.location.href = "popup.html";
      }

      const trigger_option = localStorage.getItem("trigger_option");
      const setting_option = localStorage.getItem("setting_option");

      const save_button = document.getElementById("save-button");
      save_button.addEventListener("click", onClick);

      const option1_a = document.getElementById("option1_a");
      const option1_b = document.getElementById("option1_b");
      const option2_a = document.getElementById("option2_a");
      const option2_b = document.getElementById("option2_b");

      if (trigger_option === "passive") {
        option1_a.checked = true;
      } else {
        option1_b.checked = true;
      }
      if (setting_option === "yes_pron") {
        option2_a.checked = true;
      } else {
        option2_b.checked = true;
      }
    </script>
  </body>
</html>
