body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
}

#title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* 검정색 제목 텍스트 */
}

#title_background {
  color: #000;
}

#trigger-section {
  margin-top: 20px;
}

#trigger-image {
  max-width: 100px;
  height: auto;
}

#trigger-info {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

#trigger-info h2 {
  color: #000; /* 검정색 텍스트 */
}

#trigger-options {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.option-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* 버튼 배경색 지정 */
  color: #fff; /* 버튼 텍스트 색상 지정 */
  border: none;
  border-radius: 10px; /* 둥근 테두리 추가 */
  cursor: pointer;
  margin: 0 10px;
}

.selected {
  background-color: #0056b3; /* 선택된 버튼의 배경색 지정 */
}

#option-description {
  margin-top: 20px;
}

.option-description {
  display: none;
  color: #333; /* 설명 텍스트 색상 지정 */
}
